@import url('https://fonts.googleapis.com/css2?family=Oi&display=swap');

body {
    background-color: #fbefdb;
    font-family: "Oi", serif;
    font-weight: 400;
    font-style: normal;
}

.banner {
    background-image: url(/skydyby.github.io/img/banner_suti.jpg);
    height: 400px;
    background-position: center center;
    background-size: cover;
}

.row {
    margin: auto;
    height: auto;
}

h1 {
    font-family: url('https://fonts.googleapis.com/css2?family=Oi&display=swap');
    color: #1f5b25;
    text-align: center;
}

.suti {
    color: #1f5b25;
    background-color: white;
    border: 1px solid #1f5b25;
    border-radius: 4px;
    display: inline-block;
}

.suti:hover {
    box-shadow: 0px 0px 5px #1f5b25;
}

.suti>h2 {
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-variant: small-caps;
}

#teszt {
    position: absolute;
    width: 50px;
    top: 0px;
    right: 0px;
}

.footer {
    background-color: #1f5b25;
    color: white;
}

.footer li {
    list-style: none;
}

.footer img {
    width: 15px;
    margin-right: 10px;
}